:root {
    --xs: 10px;
    --sm: 1rem;
    --med: 1.5rem;
    --l: 2rem;
    --xl: 4rem;
}
/* MARGIN */
.margin-xs {
    margin: var(--xs);
}

.margin-sm {
    margin: var(--sm);
}

.margin-l {
    margin: var(--l);
}

.margin-xl {
    margin: var(--xl);
}
/* PADDING */
.padding-xs {
    padding: var(--xs);
}

.padding-sm {
    padding: var(--sm);
}

.padding-l {
    padding: var(--l);
}

.padding-xl {
    padding: var(--xl);
}
/* FONT SIZE */
.fontsize-xs {
    font-size: var(--xs);
}

.fontsize-sm {
    font-size: var(--sm);
}

.fontsize-l {
    font-size: var(--l);
}

.fontsize-xl {
    font-size: var(--xl);
}

.half-size-h {
    height: 50%;
}