:root {
    --white: #fff;
    --primary: #395658;
    --secondary: #FBE8BC;
    --grey-bg: #EFF0F0;
    --grey-bg-card: #F5F5F5;
    --grey-contrast-slight: #E3E3E3;
    --grey-contrast-light: #A89E9E;
    --grey-contrast-dark: #655E5E;
    --black: #2A2525;
}