.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center-h {
    align-items: center;
}

.flex-center-v {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Even columns */
.even-columns {
    display: flex;
}

.even-columns > * {
    flex-basis: 100%;
}