  .topnav li, .responsive li {
    text-decoration: none;
  }
  
  .topnav li:hover {
    text-decoration: underline;
  }
  
  .topnav a.active {
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }
 
  #mobile-menu-btn {
    color: var(--black);
  }