@import url(/src/css/colors.css);
@import url(/src/css/header.css);
@import url(/src/css/layout-componments/flexbox.css);
@import url(/src/css/layout-componments/cards.css);
@import url(/src/css/layout-componments/listings.css);
@import url(/src/css/nav.css);

body {
    background-color: var(--grey-bg);
}

.img-auto {
    height: auto;
    width: 100%;
}

li {
    list-style-type: none;
}

@media (max-width: 800px) {
    .topnav {
        display: none;
    }
}

@media (min-width: 800px) {
    #mobile-menu-btn {
        display: none;
    }
}