  footer {
    margin-top: auto;
    margin-bottom: 10px;
}

.login-out-btn {
  cursor: pointer;
}
.login-out-btn:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.navlink a.active {
  text-decoration: underline;
}

.card-wrap {
  max-width: 1200px;
}