header {
  padding: 0 8vw;
}
footer {
    margin-top: auto;
    margin-bottom: 10px;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 1px;
  background-color: map-get($colours, "grey-contrast-light");
  border: solid 1px map-get($colours, "white");
}
.login-out-btn {
  cursor: pointer;
}
.login-out-btn:hover {
  text-decoration: underline;
}
.nav-link:hover {
  text-decoration: underline;
}
.navlink a.active {
  text-decoration: underline;
}
.card-wrap {
  transition: 150ms;
}
.card-img {
  height: auto;
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}
.card-wrap:hover {
  box-shadow: 3px 3px 10px map-get($colours, "grey-contrast-light");
}
#listings-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.home-img {
  width: 100%;
  height: 20vw;
  max-height: 200px;
  border: dashed map-get($colours, "grey-contrast-light") 4px;
  border-radius: 100%;
  margin: 5px;
}
.quote {
  margin: 0;
  height: fit-content;
  border-left: solid 2px map-get($colours, "grey-contrast-light");
}
.quote-down {
  margin-top: 3vw;
}
.display-users-auctions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.edit-card-btn {
  display: none;
}