body {
    margin: 0;
    min-height: 100vh;
    color: map-get($colours, "black");
}
a {
    text-decoration: none;
    color: map-get($colours, "black");
}
h1, h2, h3 {
    font-family: "dejanire-headline", serif;
    font-weight: 300;
    font-style: normal;
}
h1 {
    color: map-get($colours, "grey-contrast-dark");
}
p, li, button {
    font-family: "etna", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.img-auto {
    height: auto;
    width: 100%;
}
.img-auto-reverse {
    height: 100%;
    width: auto;
}
.img-contain {
    object-fit: contain;
}
.center {
    margin: 0 auto;
}
.margin-no {
    margin: 0;
}
.max-width-500 {
    max-width: 500px;
}
.half-size-h {
    height: 50%;
}
.fit-content-h {
    height: fit-content;
}
.fit-content-w {
    width: fit-content;
}
li {
    list-style-type: none;
}
.transparent-white {
    background: rgba(255, 255, 255, 0.9)
}
.active-link {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}