$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "med": 720px,
    "lg": 1050px,
    "xl": 1200px,
);

@mixin breakpoint($bp: map-get($breakpoints, "xs")) {
    @media (min-width: $bp) {
        @content;
    }
}

// Breakpoint start (default = xs:0)
@include breakpoint {
    h1, h2, h3 {
        margin-bottom: map-get($sizes, "med");
    }
    header, .login-out-btn {
        font-size: map-get($sizes, "med");
    }
    .content-and-sidebar {
        flex-wrap: wrap;
    }
    .logo {
        height: auto;
        width: 50px;
    }
    .btn {
        padding: map-get($sizes, "xs") map-get($sizes, "med");
        border-radius: map-get($sizes, "med");
    }
    .search {
        width: 20vw;
    }
    .auth-background {
        background-image: url(https://www.dropbox.com/s/1ydp4a6en2syz35/login-img-xs.jpg?raw=1);
        background-repeat: no-repeat;
        background-size: cover;
      }
    .login-form-bg {
        padding: map-get($sizes, "sm");
        margin: 10px;
    }
    .listings-wrap {
        padding: map-get($sizes, "sm");
    }
    .quote {
        font-size: 13px;
        max-width: 110px;
      }
}
//Breakpoint sm
@include breakpoint(map-get($breakpoints, "sm")) {
    .login-form-bg {
        padding: map-get($sizes, "lg");
        margin: 10vw;
    }
    .auth-background {
        background-image: url(https://www.dropbox.com/s/34vnbzl7pqm71kq/login-img-mobile.jpg?raw=1);
      }
      .quote {
        font-size: 1rem;
        max-width: 200px;
      }
}
//breakpoint med
@include breakpoint(map-get($breakpoints, "med")) {
    #mobile-menu-btn {
        display: none;
    }
    .auth-background {
        background-image: url(https://www.dropbox.com/s/0fe852kfaxlwcwa/login-img-crop.jpg?raw=1);
      }
}
//breakpoint lg
@include breakpoint(map-get($breakpoints, "lg")) {
    .content-and-sidebar {
        flex-wrap: nowrap;
    }
    .auth-background {
        background-image: url(https://www.dropbox.com/s/j2hu8sl0vesugyl/login-img.jpg?raw=1);
      }
    .login-form-bg {
        padding: map-get($sizes, "xl");
        margin: 5vw 10vw;
    }
    .listings-wrap {
        padding: map-get($sizes, "lg");
    }
    .quote-wrap {
        margin-right: 10vw;
    }
}
//breakpoint xl
@include breakpoint(map-get($breakpoints, "xl")) {
    header, .login-out-btn {
        font-size: map-get($sizes, "med");
    }
    .listings-wrap {
        padding: 1rem 10vw;
    }
    .btn {
        padding: map-get($sizes, "sm") map-get($sizes, "lg");
        border-radius: map-get($sizes, "med");
    }
    .quote-wrap {
        margin-right: 10vw;
    }
    .quote {
        font-size: 1rem;
      }
}

// max-width
@media (max-width: map-get($breakpoints, "med")) {
    .topnav {
        display: none !important;
    }
    .card {
        flex-wrap: wrap;
    }
}