$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "med": 720px,
    "lg": 960px,
    "xl": 1200px,
);

@mixin breakpoint($bp: map-get($breakpoints, "xs")) {
    @media (min-width: $bp) {
        @content;
    }
}

// Breakpoint start (default = xs:0)
@include breakpoint {
    .responsive-test {
        background-color: purple;
    }
    header, .login-out-btn {
        font-size: map-get($sizes, "med");
    }
    header {
        padding: 0 map-get($sizes, "xs");
    }
    .listings-wrap {
        margin: map-get($sizes, "xs");
    }
    .content-and-sidebar {
        flex-wrap: wrap;
    }
    .logo {
        height: auto;
        width: 50px;
    }
    .btn {
        padding: map-get($sizes, "sm") map-get($sizes, "lg");
        border-radius: map-get($sizes, "med");
    }
    .search {
        width: 20vw;
    }
}

@include breakpoint(map-get($breakpoints, "sm")) {
    .responsive-test {
        background-color: map-get($colours, "primary");
    }
}

@include breakpoint(map-get($breakpoints, "med")) {
    .responsive-test {
        background-color: map-get($colours, "secondary");
    }
    #mobile-menu-btn {
        display: none;
    }
}

@include breakpoint(map-get($breakpoints, "lg")) {
    .responsive-test {
        background-color: map-get($colours, "grey-contrast-light");
    }
    .content-and-sidebar {
        flex-wrap: nowrap;
    }
}

@include breakpoint(map-get($breakpoints, "xl")) {
    .responsive-test {
        background-color: map-get($colours, "black");
    }
    header, .login-out-btn {
        font-size: map-get($sizes, "med");
    }
    .listings-wrap {
        margin: map-get($sizes, "lg");
    }
}

// max-width
@media (max-width: map-get($breakpoints, "med")) {
    .topnav {
        display: none !important;
    }
}